In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [5]:
jaun_dataset = pd.read_csv('Jaundice.csv')

In [33]:
jaun_dataset.head()

,Body temprature,Glucose,BloodPressure,headache,Insulin,sore throat,Age,Skin Colour,Outcome
0,45,148,72,1,0,1,50,7,1
1,23,85,66,0,0,0,31,0,0
2,45,183,64,1,0,1,32,7,1
3,23,89,66,0,94,0,21,0,0
4,45,137,40,1,168,1,33,7,1

In [32]:
# number of rows and Columns in this dataset
jaun_dataset.shape

(768, 9)

In [8]:
# getting the statistical measures of the data
jaun_dataset.describe()

,Body temprature,Glucose,BloodPressure,headache,Insulin,sore throat,Age,Skin Colour,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,24.570312,120.894531,69.105469,0.348958,79.799479,0.438802,33.240885,2.442708,0.348958
std,15.579807,31.972618,19.355807,0.476951,115.244002,0.653068,11.760232,3.338660,0.476951
min,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,21.000000,0.000000,0.000000
25%,10.000000,99.000000,62.000000,0.000000,0.000000,0.000000,24.000000,0.000000,0.000000
50%,16.000000,117.000000,72.000000,0.000000,30.500000,0.000000,29.000000,0.000000,0.000000
75%,45.000000,140.250000,80.000000,1.000000,127.250000,1.000000,41.000000,7.000000,1.000000
max,45.000000,199.000000,122.000000,1.000000,846.000000,2.000000,81.000000,7.000000,1.000000

In [9]:
jaun_dataset['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [10]:
jaun_dataset.groupby('Outcome').mean()

,Body temprature,Glucose,BloodPressure,headache,Insulin,sore throat,Age,Skin Colour
Outcome,,,,,,,,
0,13.62,109.980000,68.184000,0.0,68.792000,0.000000,31.190000,0.0
1,45.00,141.257463,70.824627,1.0,100.335821,1.257463,37.067164,7.0

In [13]:
# separating the data and labels
X = jaun_dataset.drop(columns = 'Outcome', axis=1)
Y = jaun_dataset['Outcome']

In [14]:
print(X)

     Body temprature   Glucose  BloodPressure  headache  Insulin  sore throat  \
0                  45      148             72         1        0            1
1                  23       85             66         0        0            0
2                  45      183             64         1        0            1
3                  23       89             66         0       94            0
4                  45      137             40         1      168            1
..                ...      ...            ...       ...      ...          ...
763                 9      101             76         0      180            0
764                 9      122             70         0        0            0
765                 9      121             72         0      112            0
766                45      126             60         1        0            1
767                 9       93             70         0        0            0

     Age  Skin Colour
0     50            7
1     31            0
2     32            7
3     21            0
4     33            7
..   ...          ...
763   63            0
764   27            0
765   30            0
766   47            7
767   23            0

[768 rows x 8 columns]

In [15]:
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [16]:
scaler = StandardScaler()

In [17]:
scaler.fit(X)

StandardScaler()

In [18]:
standardized_data = scaler.transform(X)

In [19]:
print(standardized_data)

[[ 1.31214727  0.84832379  0.14964075 ...  0.85988556  1.4259954
   1.36589591]
 [-0.10085721 -1.12339636 -0.16054575 ... -0.67234672 -0.19067191
  -0.73212021]
 [ 1.31214727  1.94372388 -0.26394125 ...  0.85988556 -0.10558415
   1.36589591]
 ...
 [-1.00004188  0.00330087  0.14964075 ... -0.67234672 -0.27575966
  -0.73212021]
 [ 1.31214727  0.1597866  -0.47073225 ...  0.85988556  1.17073215
   1.36589591]
 [-1.00004188 -0.8730192   0.04624525 ... -0.67234672 -0.87137393
  -0.73212021]]

In [20]:
X = standardized_data
Y = jaun_dataset['Outcome']

In [21]:
print(X)
print(Y)

[[ 1.31214727  0.84832379  0.14964075 ...  0.85988556  1.4259954
   1.36589591]
 [-0.10085721 -1.12339636 -0.16054575 ... -0.67234672 -0.19067191
  -0.73212021]
 [ 1.31214727  1.94372388 -0.26394125 ...  0.85988556 -0.10558415
   1.36589591]
 ...
 [-1.00004188  0.00330087  0.14964075 ... -0.67234672 -0.27575966
  -0.73212021]
 [ 1.31214727  0.1597866  -0.47073225 ...  0.85988556  1.17073215
   1.36589591]
 [-1.00004188 -0.8730192   0.04624525 ... -0.67234672 -0.87137393
  -0.73212021]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [22]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

In [23]:
print(X.shape, X_train.shape, X_test.shape)

(768, 8) (614, 8) (154, 8)

In [24]:
classifier = svm.SVC(kernel='linear')

In [27]:
# accuracy score on the training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [26]:
#training the support vector Machine Classifier
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [28]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  1.0

In [31]:
input_data = (23,85,66,0,0,0,31,0)

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

# standardize the input data
std_data = scaler.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

if (prediction[0] == 0):
  print('The person is Fine')
else:
  print('The person has Jaundice')

[[-0.10085721 -1.12339636 -0.16054575 -0.73212021 -0.69289057 -0.67234672
  -0.19067191 -0.73212021]]
[0]
The person is Fine

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"