In [ ]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [ ]:
Target_dataset = pd.read_csv('Achivement 3 - Monthly production target.csv')

In [ ]:
Target_dataset.head()

,Material Supply Delay in Hours,Machine Faillure,Overall-all workers presence in percentage,Power Cut in Hours / Day,Machine Stallled in hours,Average age of Shift Workers,No of Working Shifts,Outcome
0,0.0,0,95,0.0,0,50,4,1
1,0.0,1,80,3.0,2,31,1,0
2,0.0,0,95,0.0,0,32,4,1
3,0.0,1,80,3.0,2,21,1,0
4,0.0,0,95,0.0,0,33,4,1

In [ ]:
# number of rows and Columns in this dataset
Target_dataset.shape

(768, 8)

In [ ]:
# getting the statistical measures of the data
Target_dataset.describe()

,Material Supply Delay in Hours,Machine Faillure,Overall-all workers presence in percentage,Power Cut in Hours / Day,Machine Stallled in hours,Average age of Shift Workers,No of Working Shifts,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,0.374609,0.317708,79.713542,38.991536,0.777344,33.240885,2.565104,0.348958
std,0.435598,0.465889,14.823471,83.112616,1.112291,11.760232,1.041977,0.476951
min,0.000000,0.000000,40.000000,0.000000,0.000000,21.000000,1.000000,0.000000
25%,0.000000,0.000000,77.500000,0.000000,0.000000,24.000000,2.000000,0.000000
50%,0.000000,0.000000,80.000000,0.500000,0.000000,29.000000,2.000000,0.000000
75%,1.000000,1.000000,95.000000,53.000000,2.000000,41.000000,4.000000,1.000000
max,1.000000,1.000000,95.000000,744.000000,3.000000,81.000000,4.000000,1.000000

In [ ]:
Target_dataset['Outcome'].value_counts

<bound method IndexOpsMixin.value_counts of 0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64>

In [ ]:
Target_dataset.groupby('Outcome').mean()

,Material Supply Delay in Hours,Machine Faillure,Overall-all workers presence in percentage,Power Cut in Hours / Day,Machine Stallled in hours,Average age of Shift Workers,No of Working Shifts
Outcome,,,,,,,
0,0.410000,0.488,72.260000,59.742000,1.194,31.190000,1.844000
1,0.308582,0.000,93.619403,0.277985,0.000,37.067164,3.910448

In [ ]:
# separating the data and labels
X = Target_dataset.drop(columns = 'Outcome', axis=1)
Y = Target_dataset['Outcome']

In [ ]:
print(X)

     Material Supply Delay in Hours   Machine Faillure   \
0                                0.0                  0
1                                0.0                  1
2                                0.0                  0
3                                0.0                  1
4                                0.0                  0
..                               ...                ...
763                              1.0                  0
764                              1.0                  0
765                              1.0                  0
766                              0.0                  0
767                              1.0                  0

     Overall-all workers presence in percentage   Power Cut in Hours / Day   \
0                                             95                        0.0
1                                             80                        3.0
2                                             95                        0.0
3                                             80                        3.0
4                                             95                        0.0
..                                           ...                        ...
763                                           70                      180.0
764                                           70                        0.0
765                                           70                      112.0
766                                           85                        0.5
767                                           70                        0.0

     Machine Stallled in hours   Average age of Shift Workers  \
0                             0                            50
1                             2                            31
2                             0                            32
3                             2                            21
4                             0                            33
..                          ...                           ...
763                           3                            63
764                           3                            27
765                           3                            30
766                           0                            47
767                           3                            23

     No of Working Shifts
0                        4
1                        1
2                        4
3                        1
4                        4
..                     ...
763                      2
764                      2
765                      2
766                      3
767                      2

[768 rows x 7 columns]

In [ ]:
print(Y)

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [ ]:
scaler = StandardScaler()

In [ ]:
scaler.fit(X)

StandardScaler()

In [ ]:
standardized_data = scaler.transform(X)

In [ ]:
print(standardized_data)

[[-0.86054919 -0.68238468  1.0319054  ... -0.69932266  1.4259954
   1.37798669]
 [-0.86054919  1.46544907  0.01933724 ...  1.09993965 -0.19067191
  -1.50303085]
 [-0.86054919 -0.68238468  1.0319054  ... -0.69932266 -0.10558415
   1.37798669]
 ...
 [ 1.43664156 -0.68238468 -0.6557082  ...  1.99957081 -0.27575966
  -0.54269167]
 [-0.86054919 -0.68238468  0.35685996 ... -0.69932266  1.17073215
   0.41764751]
 [ 1.43664156 -0.68238468 -0.6557082  ...  1.99957081 -0.87137393
  -0.54269167]]

In [ ]:
X = standardized_data
Y =Target_dataset['Outcome']

In [ ]:
print(X)
print(Y)

[[-0.86054919 -0.68238468  1.0319054  ... -0.69932266  1.4259954
   1.37798669]
 [-0.86054919  1.46544907  0.01933724 ...  1.09993965 -0.19067191
  -1.50303085]
 [-0.86054919 -0.68238468  1.0319054  ... -0.69932266 -0.10558415
   1.37798669]
 ...
 [ 1.43664156 -0.68238468 -0.6557082  ...  1.99957081 -0.27575966
  -0.54269167]
 [-0.86054919 -0.68238468  0.35685996 ... -0.69932266  1.17073215
   0.41764751]
 [ 1.43664156 -0.68238468 -0.6557082  ...  1.99957081 -0.87137393
  -0.54269167]]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2, stratify=Y, random_state=2)

In [ ]:
print(X.shape, X_train.shape, X_test.shape)

(768, 7) (614, 7) (154, 7)

In [ ]:
classifier = svm.SVC(kernel='linear')

In [ ]:
# accuracy score on the training data
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [ ]:
#training the support vector Machine Classifier
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [ ]:
print('Accuracy score of the training data : ', training_data_accuracy)

Accuracy score of the training data :  1.0

In [ ]:
input_data = (0,0,95,0,0,50,4)

# changing the input_data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# reshape the array as we are predicting for one instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

# standardize the input data
std_data = scaler.transform(input_data_reshaped)
print(std_data)

prediction = classifier.predict(std_data)
print(prediction)

if (prediction[0] == 0):
  print('Target not Achieved')
else:
  print('Target Achieved ')

[[-0.86054919 -0.68238468  1.0319054  -0.46944674 -0.69932266  1.4259954
   1.37798669]]
[1]
Target Achieved

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"